.css-179jfzq .sidebar{
    height: auto;
}

strong, b  {
    font-weight: bold;
    color : var(--color-primary);
}

.card p{
    line-height: 0px;
}


.content{
    margin-left: 2%;
    margin-right: 2%;
}

.header.sticky{
    overflow:auto;
    z-index: 2;
}

.header-content{
    margin-left: 2%;
    margin-right: 7%;
}

.header .MuiButtonBase-root.MuiTab-root{
    border: 1px solid var(--color-primary); /* Thin line with 1px width, change color as needed */
    border-radius: 25px; /* Adjust this value for more or less rounding */
    padding: 10px; /* Optional: adds padding inside the rounded border */
    margin: 10px;
    text-transform: none;
    width: 12%;
}

.header .MuiButtonBase-root.MuiTab-root.Mui-selected{
    background-color: var(--color-primary);
    color: white;
}


.css-6fy833 p{
    opacity: 0;
}



.css-6fy833 .MuiToggleButtonGroup-root{
    top: 0.1rem !important;
    right: 0.5rem ! important;
    position: fixed;
}

.taipy-chart{
    margin:5px;
}



/* Toggle Button */

/* Toggle Button */
.taipy-toggle .MuiToggleButtonGroup-root{
    height: 50px;
}

/* Toggle Button Selected */
.taipy-toggle .Mui-selected{
    background-color: var(--color-primary);
    color:white;
    height: 50px;
}

.taipy-toggle .Mui-selected .MuiTypography-root{
    color:white !important;
}

/* Toggle Text */
.taipy-toggle .MuiTypography-root{
    color: var(--color-primary);
}

/* Toggle Text Selected */
.taipy-toggle .Mui-selected .MuiTypography-root{
    color: var(--color-primary);
}

