/*This file aims to enhance the ergonomy of demos while explaining the UX and UI targets through comments ans CSS corresponding code*/

/*
======= TYPOGRAPHY =======
Use "Poppins" (Google font) for headings and Lato (also Google font) for body text
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500;600&display=swap");

body,
.MuiTypography-root,
.MuiBox-root,
.MuiButtonBase-root,
.MuiInputLabel-root,
.MuiInputBase-root {
  font-family: "Lato", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 600;
}

h1 strong {
  color: #ff462b;
  font-weight: inherit;
}

h2 {
  color: #ff462b;
  font-size: 1rem;
}

h2 .taipy-text {
  display: block;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
}

hr {
  margin-top: 3rem;
  border-color: #d8d8d8;
  border-top: 0;
}


/*
======= BODY =======
In order to help distinguish the content from the background, and to help the different columns, sections to pop-out, use a slightly grey background for the whole app.
To fit the usual Taipy theme, indigo tones are preferred. (ie : #283282)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#root,
#root > .MuiBox-root,
#root > .MuiBox-root > .MuiBox-root {
  max-width: 100%;
  background-color: #f9f8fd !important;
}

#root {
  /* Using padding instead of margin to space the whole content*/
  margin: 0;
  padding: 1%;
}

/* Layout grids */
.taipy-layout {
  margin-top: 1rem; /* Add vertical spacing before layouts */
  gap: 1rem; /* Widen the gap to 1rem minimum */
  align-items: center; /* Verticaly center columns content that are on the same line */
}

/* Prevent columns to grow wider than their container */
.taipy-layout > * {
  min-width: 0;
}

/* Augment vertical spacing for h1 headings immediatly adjacent to a layout */
.taipy-layout + h1 {
  margin-top: 4rem;
}

/* Encapsulate section elements into "cards" */
.taipy-chart,
.card {
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 1rem;
  overflow: hidden;
}

/*
======= CONTROLS =======
*/

/* Remove unwanted margins around select */
.taipy-selector {
  margin: 0;
}

/* Form control */
.MuiFormControl-root {
  /* Prefer keeping the width to a native 100% and setting a max-width instead for responsive purpose */
  width: 100%;
  max-width: 360px;
}

/* Focused form control styles */
.MuiInputLabel-root.Mui-focused {
  color: #283282;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #283282;
}

/* Chart */
.taipy-chart .svg-container {
  max-width: 100%;
}
.taipy-chart svg {
  max-width: 100%;
}

/* Toggle */

.MuiButtonBase-root {
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
}
.MuiButtonBase-root .MuiTypography-root {
  font-size: inherit;
  font-weight: inherit;
}

.MuiToggleButton-root.Mui-selected,
.MuiToggleButton-root.Mui-selected:hover {
  background-color: #283282;
  color: #fff;
}